@{
    ViewData["Title"] = "Reset Password";
}

@model CarRentalSystem.Web.ViewModels.ResetPasswordViewModel

<div class="container mt-5">
    <div class="hero text-center">
        <h2>Reset your password</h2>
        <p>Enter your new password below.</p>
    </div>

    <form asp-action="ResetPassword" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="Token"/>
        <input type="hidden" asp-for="UserId"/>

        <div class="col-md-12 mb-3">
            <partial name="_PasswordWithConfirmationPartial" model="@Model"/>
        </div>

        <div class="row">
            <div class="col-md-12 text-center mb-3">
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <partial name="_PasswordValidationScriptsPartial"/>
}