@{
    ViewData["Title"] = "Profile";
}

@model ProfileViewModel

<div class="container mt-5">
    <div class="hero text-center">
        <h2>Your Profile</h2>
        <p>Update your profile information below.</p>
    </div>
    <form asp-action="UpdateProfile" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <partial name="_ProfileFormPartial" model="@Model"/>
        <div class="row">
            <div class="col-md-12 text-center mb-3">
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <partial name="_PasswordValidationScriptsPartial"/>
}